---
import Card from "./Card.astro";

const projects = [
  {
    title: "SIGET - Sistema de Gestión del proceso de titulación de la FCBIyT",
    Description: "Sistema para mejorar el proceso de titulación en la Facultad de Ciencias Básicas, Ingeniería y Tecnología (FCBIyT). Optimiza los tiempos de entrega, reduce el uso de papel y mejora la experiencia del proceso.",
    img: "/Imagen2.png",
    url: "https://github.com/erickcapilla/siget",
    technologies: ["React", "Tailwind", "NextUI", "TypeScript"]
  },
  {
    title: "XCELENT - Catálogo de Productos",
    Description: "Catálogo de productos, mejora la venta de productos que anteriormente se vendían a través de WhatsApp. Pagos con PayPal, seguimiento de envíos, visualización de productos sin necesidad de tener una cuenta.",
    img: "/Imagen1.png",
    url: "https://github.com/erickcapilla/xcelente",
    technologies: ["React", "Tailwind", "NextUI", "Firebase", "PayPal", "TypeScript"]
  },
];
---

<article class="grid gap-3">
  {
    projects.map((project) => (
      <Card title={project.title} href={project.url}>
        <div class="flex max-md:flex-col items-center gap-2 mt-5">
          <img
            src={project.img}
            alt={project.title}
            class="md:w-1/2 h-48 object-cover rounded-md"
          />
          <div class="md:w-1/2 py-2">
            {project.technologies.map((tech) => (
              <span class="inline-block w-auto border-2 border-gray-900 px-2 py-1 rounded-full mr-2 mb-2">
                {tech}
              </span>
            ))}
            <p class="mt-2">{project.Description}</p>
          </div>
        </div>
      </Card>
    ))
  }
</article>
